<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer th:fragment="footer" class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <strong>I-NET</strong>
                <span>학교 네트워크 장비관리 시스템</span>
            </div>
            <div class="footer-content">
                <div class="footer-info">
                    <p>경산본점 TEL.053-815-2688 FAX.053-814-2688 경북 경산시 압량읍 금구길24길13 (주)아이네트</p>
                    <p>영천지점 TEL.054-334-1199 FAX.054-333-7990 경북 영천시 망정1길 146 유호빌리지 101호 이레정보</p>
                    <p>청도지점 TEL.053-815-2688 FAX.053-814-2688 경북 청도군 고수뒷길74-16 성조타운상가 101동201호 (주)아이네트</p>
                    <p>대표번호 : 1644-8699 | 개인정보관리책임자 : 김종신</p>
                </div>
                
                <div class="footer-links">
                    <ul>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">이용약관</a></li>
                        <li><a href="#">정보보안정책</a></li>
                        <li><a href="#">찾아오시는 길</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-copyright">
                <p>Copyright ©  All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html> 